body    {
    font-family: 'Roboto', sans-serif;
    background-color: lightblue;
}
/* Versao Desktop*/
/*Menu superior*/
.menu-topo {
    display: flex;
    background-color: #FFFFFF;
    width: 100%;
    justify-content: center;
    position: fixed;
    top: 0;
    align-items: center;
    z-index: 2;
}
.menu-topo ion-icon {
    margin-left: 1%;
    margin-right: 1%;
}
.menu-topo img {
    margin-left: 1%;
    margin-right: 1%;
}
.menu-topo-divisor {
    width: 1px;
    height: 22px;
    background-color: #DBDBDB;
}
.menu-topo-pesquisar {
    display: flex;
    width: 215px;
    align-items: center;
    justify-content: center;
    border: 1px solid #DBDBDB;
    background-color: #FAFAFA;
    height: 28px;
    margin-left: auto;
    margin-right: auto;
}
.menu-topo-pesquisar a{
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #979797;
}
.menu-topo-iconbox {
    width: 200px;
    padding: 10px;
    box-sizing: border-box;
    
}
.menu-inferior {
    display: flex;
    width: 907px;
    height: 100%;
}
/* Caixa de Stories */
.storybox {
    display: flex;
    width: 614px;
    height: 118px;
    margin-top: 88px;
    margin-left: 215px;
    background-color: #FFFFFF;
    border: 1px solid #DBDBDB;
    align-items: center;
    justify-content: space-evenly;
}
/* Falta implementar o block quando passa o limite */
.story {
    display: flex;
    width: 78px;
    height: 81px;
    flex-direction: column;
    align-items: center;
    z-index: 0;
}
.story img {
    width: 56px;
    height: 56px;
    margin-bottom: 5px;
}
.story a{
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}
.story-arrow {
    /* Implementar com icone e z index*/
}
/* Coluna de posts */
.posts-column {
    width: 614px;
    margin-top: 24px;
}
.post {
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid #DBDBDB;
}
.post-title {

}
.post-icon-box {

}
.post-comment {

}
/* Sidebar */
.sidebar {
    display: flex;
    width: 293px;
    height: 400px;
    position: absolute;
    right: 0px;
    flex-direction: column;
    align-items: flex-start;
    background-color: lightgreen;
    
}
.sidebar-account {
    display: flex;
    width: 100%;
    height: 56px;
    flex-direction: row;
    margin-top: 106px;
}
.sidebar-account-body {
    display: flex;
    width: 100%;
    height: fit-content;
    flex-direction: column;
}
.sidebar-body-title a:nth-child(1){
    font-size: 12px;
    font-weight: 500;
    color: #8E8E8E;
}
.sidebar-body-title a:nth-child(2){
    font-size: 12px;
    font-weight: 500;
    color: #262626;
}
.sidebar-account img {
    width: 56px;
    height: 56px;
}
.sidebar-account-description {
    display: flex;
    width: 100%;
    height: 56px;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 20px;
    margin-top: 14px;
    margin-bottom: 14px;
}
.sidebar-account-description :nth-child(1){
    font-size: 14px;
    font-weight: 500;
    color: #262626;
}
.sidebar-account-description :nth-child(2){
    font-size: 14px;
    font-weight: 300;
    color: #8E8E8E;
}
.sidebar-account-title {

}
.sidebar-account-follow {

}
.sidebar-account img {

}
/* Layout sem sidebar - 935px Max */

/* Layout mobile - 614px Max */